<nav th:fragment="DefaultSideBar"
	 class="sb-sidenav accordion sb-sidenav-dark"
	 id="sidenavAccordion">
	<div class="sb-sidenav-menu">
		<div class="nav">
		
			<a class="nav-link" href="#">
				<div class="sb-nav-link-icon">
				</div> 프로젝트
			</a>
			
			<a class="nav-link" href="#">
				<div class="sb-nav-link-icon">
				</div> 내 페이지
			</a>
			
			<a class="nav-link" href="#"> <!-- th:if="${role == 'ADMIN'} -->
				<div class="sb-nav-link-icon">
				</div> 관리
			</a>
			
			<!-- ✅ 프로젝트 내부 메뉴 -->
  			<th:block th:if="${activeMenu == '#'}">
				<a class="nav-link" href="/#/#">일감 목록</a>
    			<a class="nav-link" href="/#/#">나의 일정</a>
    			<a class="nav-link" href="/#/#">일정 관리</a>
    			<a class="nav-link" href="/#/#">일정 달력</a>
    			<a class="nav-link" href="/#/#">공지사항</a>
    			<a class="nav-link" href="/#/#">문서</a>
    			<a class="nav-link" href="/#/#">설정</a>
  			</th:block>
			
		</div>
	</div>
	
</nav>