<!doctype html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layouts/default_layout}" layout:fragment="Content">

<head>
  <meta charset="UTF-8" />
  <title>일정 관리</title>
  <link rel="stylesheet" href="https://docs.dhtmlx.com/gantt/codebase/dhtmlxgantt.css" />
  <link rel="stylesheet" th:href="@{/css/gantt/style.css}" />
  <link rel="stylesheet" th:href="@{/css/gantt/search.css}" />
</head>

<body>
  <div class="gantt-page">
    <div class="x-page-title">
      <h3 class="page-title">일정 관리</h3>
      <div class="page-title-sub">일정 관리 페이지입니다.</div>
    </div>
    <!-- 검색조건 -->
	<div th:replace="~{gantt/search :: searchCondition}"></div>
    <div id="e7eGantt" class="gantt-wrapper"></div>
  </div>

  <script src="https://docs.dhtmlx.com/gantt/codebase/dhtmlxgantt.js"></script>
  <script th:src="@{/js/gantt/search.js}"></script>
  <script th:src="@{/js/gantt/list.js}"></script>
</body>

</html>