<!doctype html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8" />
<title>일감 목록</title>
<link rel="stylesheet" th:href="@{/css/issue/issue.css}">
</head>

<body>
	<div class="card mb-4">
		<div class="card-header">
			<i class="fas fa-table me-1"></i> 일감 목록
		</div>
		<div class="card-body">
			<table id="datatablesSimple">
				<thead>
					<tr>
						<th>일감 번호</th>
						<th>프로젝트 번호</th>
						<th>제목</th>
						<th>상태</th>
						<th>우선순위</th>
						<th>담당자</th>
						<th>생성일</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="issue : ${list}">
						<td th:text="${issue.issueCode}"></td>
						<td th:text="${issue.projectCode}"></td>
						<td th:text="${issue.title}"></td>
						<td th:text="${issue.statusCode}"></td>
						<td th:text="${issue.priority}"></td>
						<td
							th:text="${issue.assigneeCode != null ? issue.assigneeCode : '미할당'}"></td>
						<td
							th:text="${#temporals.format(issue.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
